body {
    font-family: sans-serif;
    margin: 0px;
    
}
header{
    background-color: black;
}
header img{
    width: 100px;
    height: 100px;
    
    
}
main img{
   width: 900px;
    height: 500px;
    text-align: center;
}
p{
    font-size: 20px;
    margin: 10px
    
}
main h2{
    text-align: center;
}
p img{
    width: 58px;
    height: 59px;
    padding-left: 10px;
    
}
nav a{
    text-decoration: none;
    color:white;
    border-right: 10px;
    border: 2px solid white;
    margin: 5px;
    padding: 5px;
    
    
    
}
main a{
    text-decoration: none;
    color: white;
    font-size: 30px;
    border: 1px solid purple;
    background-color: purple;
    padding: 5px;
    border-radius: 10px;
    margin: 10px;
    
}
footer{
    background-color: black;
    color: white;
    
}

footer a {
     text-decoration: none;
    color:white;
    border-right: 10px;
    border: 2px solid white;
    margin: 5px;
    padding: 5px;
    
}

